.hdks {
    width: 516px;
    height: 516px;
    position: absolute;
    left: 50%;
    margin-left: -243px;
    margin-top: 61px;
    border-radius: 13px;
}

.inpt {
    height: 37px;
    width: 309px;
    border-radius: 0px;
    border: 1px solid black;
    background-color: #e4e4e4;
    font-size: 16px;
    padding-left: 15px;
    margin-top: 13px;
}


.lctn {
    text-align: center;
    font-size: 38px;
    margin-top: 26px;
    color: #090809;
    font-weight: 900;
}

.fmgt {
    margin-left: 106px;
    margin-top: 12px;
}

.logo {
    margin-left: 87px;
    margin-top: 36px;
    width: fit-content;
    padding: 12px;
    background: transparent;
    color: #000000;
    font-size: 59px;
}

button.btn.sdf.ghj {
    margin-left: 283px;
    background: gray;
    margin-top: -57px;
    position: absolute;
}
button.btn.sdf {
    margin-left: 106px;
    background: gray;
    margin-top: 9px;
    position: absolute;
}


form.fmgt.skdn {width: 671px;margin-left: -89px;margin-top: 20px;padding: 10px;}

.lctn.kjsdf {
    margin-top: -39px;
}



.gender {
    margin-top: 17px;
}

.dsd {
    margin-top: 65px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}